# .gitattributes
# Exclude the entire node_modules directory
node_modules/ -diff -merge
# Track specific patterns with LFS
node_modules/electron/dist/* filter=lfs diff=lfs merge=lfs -text
# Specific rule for the executable
node_modules/electron/dist/App_Electron-win32-x64/App_Electron.exe filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
